<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.6e">
    <id>HarryPotter_Ficha</id>
    <version>1.5</version>
    <info lang="pt-BR">
        <name>HarryFichaFeitico</name>
        <description>Plugin para Mesa do Rafilkl =)</description>
        <author>RAFILKL</author>
        <contact>https://github.com/RAFILKLDEV</contact>
        <site>http://www.seu.site.com.br</site>
    </info>
</module>
